//Setting up the font family 
$font-family : Nunito Sans;

//Setting up the colors
$color-FAFAFA :#FAFAFA;
$color-C5A26A:#C5A26A;
$color-000000: #000000;
$color-FFFFFF: #FFFFFF;
$color-5BC8EC:#5BC8EC;
$color-00000029:#00000029;
$color-B49D64:#B49D64;
$color-6260603E:#6260603E;
$color-E0C796 : #E0C796;
$color-F5DBAD:#F5DBAD;
$color-D5D6D9:#D5D6D9;
$color-00000000:#00000000;
$color-8E8D8B:#8E8D8B;
$color-BFA272 : #BFA272;
$color-00000045:#00000045;
$color-FFF2DD:#FFF2DD;
$color-916012:#916012;
$color-D0D0D0:#D0D0D0;
$color-E8E8E8:#E8E8E8;
$color-E82B2B:#E82B2B;

//Setting up the fontsize
$font-size35: 35px;
$font-size18: 18px;
$font-size24: 24px;
$font-size16: 16px;
$font-size20: 20px;
$font-size45: 45px;

//text alignment
$text-align-left: left;
$text-align-center: center;

//font-weight
$font-normal : normal;

//specing
$letter-zero-spacing : 0;
$letter-base-spacing : 10;

//Opacity
$opacity-base : 10;
$opacity-zero : 0;

//Margin
$margin-top-4rem: 4rem;


